<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список заявок</title>
</head>
<body>

<h1>Список заявок</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Статус</th>
    </tr>

    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.id}"></td>
        <td th:text="${ticket.title}"></td>
        <td th:text="${ticket.description}"></td>
        <td th:text="${ticket.status}"></td>
    </tr>

</table>

</body>
</html>